/* setting font styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gideon Roman', cursive;
}
p, button, a {
  font-family: 'Raleway', sans-serif;
}
/* setting background color */
body {
  background-color: rgba(244, 222, 144, 0.3);
}
nav .container-fluid{
  background-color: rgba(244, 222, 144, 0.8);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.navbar{
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar .navbar-brand i {
  color: #46AB21;
}
.navbar-light .navbar-nav .nav-link {
  color: #265815;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: #46AB21;
}
hr {
  width: 80%;
  margin: 15px auto;
}
/* setting general button design */
/* design idea from 'Animated CSS Buttons'  */
.btn{
    position: relative;
    
    color: black;
    font-size: 14px;
    /* font-family: "montserrat"; */
    text-decoration: none;
    margin: 30px auto;
    border: 1px solid #E8BD21;
    padding: 10px 25px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #E8BD21;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
/* general button hover effect */
  .btn-hover::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn-hover:hover::before{
    height: 380%;
  }

/* Landing page main image */
.masthead {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.masthead img {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0px auto;
  position: absolute;

  /* zoom in style for main image - code taken from Love Running project */
  animation-name: main-image-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes main-image-zoom {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.1);}
}
header .container-fluid {
position: relative;
z-index: 1000;
top: 15%;
border-radius: 5%;
background-color: rgba(0, 0, 0, 0.6);
}


/* features with icons? */
.features-icons {
  padding-top: 3rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-item {
  max-width: 20rem;
  align-items: center;
  justify-content: center;
}
.features-icons .features-icons-item .features-icons-icon img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 5vh;
}
/* showcase section */
.showcase-img {
  max-width: 100%;
  max-height: 100%;
}
.lead {
  line-height: 30px;
}
/* review section */
.review-link {
  text-decoration: none;
  color: #445261;
}
/* like button styling */
.btn-like {
  color: #46AB21;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #46AB21;
  background: transparent;
  border: none;
}
/* dislike button styling */
.btn-dislike {
  color: #E84610;
  border: none;
  background: transparent;
}

.btn-dislike:hover,
.btn-dislike:active {
  color: #E84610;
  background: transparent;
  border: none;
}

.review-link:hover,
.page-link {
  color: #46AB21;
}
/* register link section */
.register-image {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  opacity: 0.9;
  background-color: #343a40;
  background: no-repeat center center;
}
.register-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
.register-image .container-fluid {
  position: relative;
  z-index: 1000;
  top: 5%;
  border-radius: 6%;
  background-color: rgba(0, 0, 0, 0.6);
}
  /* Footer section */
.display {
    display: flex;
    justify-content: space-evenly;
}
.footer-link {
  color: #E8BD21;
}

i {
    font-size: 1.8rem;
}

/* Review_page styles */
.review {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 45vh;
  width: 100%;
}

.review-text {
  background-color: black;
  color: white;
  position: relative;
}

.review-image {
  position: relative;
  overflow: hidden;
}

.review-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: black;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}
.review-title {
  margin-top: 15%;
  margin-left: 5%;
}
.review-details {
  margin-left: 5%;
  margin-top: 15%;
}
/* view_profile.html */
.profile-img {
  /* min-height: 30rem; */
  background-size: cover;
  height: 33vh;
  width: 100%;
  background: no-repeat center center;
}
.profile-cards {
  width: 40%;
  margin: 0 auto;
}
/* update_profile.html */
.form-row {
  width: 60%;
  min-width: 275px;
  margin: 0 auto;
}
.form-button {
  margin: 1.5rem auto;
}
.form-img {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
  height: 29vh;
  padding: 0;
}
/* view_bookings.html styling */
.booking-img {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  max-height: 30vh;
  display: inline-block;
  width: 100%;
}
/* delete_booking.html styling */
.exit {
  height: 30vh;
  width: 40%;
  background-color: hsl(43, 74%, 66%);
  margin-top: 150px;
  border-radius: 15px;
}
.exit-text{
  font-size: 1.8rem;
}
.exit-buttons{
  width: 30%;
  display: flex;
  flex-direction: row;
  margin: 40px auto;
}
.exit-button{
  padding: 1%;
  margin: 0 auto;
  width: 40%;
  font-size: 1.2rem;
  border-radius: 10px;
}
.exit-button:hover {
  background-color: hsl(197, 37%, 24%);
  color: white;
  border: 1px solid white;
}
/* login.html page styling */
.login-div {
  margin-top: 2vh;
  
}
.account-img {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  padding: 0;
}