hr {
  width: 80%;
  margin: 15px auto;
}
/* setting general button design */
/* design idea from 'Animated CSS Buttons'  */
.btn{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    /* font-family: "montserrat"; */
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
/* general button hover effect */
  .btn-hover::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn-hover:hover::before{
    height: 380%;
  }

/* Landing page main image */
.masthead {
    position: relative;
    max-width: 100%;
    background-color: #343a40;
    background: url("/static/images/masthead-main-image.jpg") no-repeat center center;
    background-size: cover;
    margin: 25px auto;
    padding-top: 8rem;
    padding-bottom: 8rem;

    /* zoom in style for main image - code taken from Love Running project */
    animation-name: main-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes main-image-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);}
  }
.masthead .container-fluid {
    background-color: rgba(0, 0, 0, 0.6);
}

/* features with icons? */
.features-icons {
  padding-top: 3rem;
  padding-bottom: 7rem;
}
.features-icons .features-icons-item {
  max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}
/* review section */
.review-link {
  text-decoration: none;
  color: #445261;
}
/* like button styling */
.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #E84610;
  background: transparent;
  border: none;
}

.review-link:hover,
.page-link {
  color: #E84610;
}
/* register link section */
.register-image {
  position: relative;
  max-width: 100%;
  opacity: 0.9;
  background-color: #343a40;
  background: url("/static/images/register-section-image.jpg") no-repeat center center;
  background-size: cover;
  margin: 25px 0 auto auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.register-image .container-fluid {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
  /* Footer section */
.display {
    display: flex;
    justify-content: space-evenly;
}

i {
    font-size: 1.8rem;
}

/* Review_page styles */
.review {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 45vh;
  width: 100%;
}

.review-text {
  background-color: black;
  color: white;
  position: relative;
}

.review-image {
  position: relative;
  overflow: hidden;
}

.review-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: black;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}
.review-title {
  margin-top: 15%;
  margin-left: 5%;
}
.review-details {
  margin-left: 5%;
  margin-top: 15%;
}