{% extends "base.html" %}
{% block title %}Delete Booking{% endblock title %}

{% block content%}
<div class="container login-div">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <p class="exit-text">{{ booking.first_name}}, are you sure you want to delete your booking for "{{ booking.play_date }} at {{ booking.play_time}}"?</p>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-3 offset-md-2">       
            <form action="{% url 'delete-booking' booking.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="Confirm">
                <a class="text-decoration-none btn-primary p-1 ms-5" href="{% url 'view-bookings' %}">
                    Cancel
                </a>
            </form>
                      
        </div>
    </div>
</div>
<div class="col-lg-12 account-img">
    <img src="/static/images/account-login-img.jpg" alt="Golf Dunes and hills" class="profile-img"> 
</div>

            
{% endblock%} 