{% extends "base.html" %}
{% block title %}Delete Booking{% endblock title %}

{% block content%}
<div class="container-fluid">
    
    <div class="exit">

        <p class="exit-text">Are you sure you want to delete "{{ booking }}"?</p>
        
        
            <div class="exit-buttons">
                <form action="{% url 'delete-booking' booking.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="Confirm">
                </form>
                
                    <a class="text-decoration-none" href="{% url 'view-bookings' %}">
                        <button class="btn btn-hover mx-auto mt-5 mb-5">Cancel</button>
                    </a>
            </div>
        
    </div>
</div>

            
{% endblock%} 