{% extends "base.html" %}
{% block title %}Update Profile{% endblock title %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 form-row">
            <!-- form used to update user profile by creating an instance form -->
            <form method="POST">
                {% csrf_token %}
                {{ p_form|crispy }}
                <div class="center">
                    <button class="btn btn-hover form-button" type="submit">Update</button>
                </div>
            </form>
        
        </div>
    </div>
    <!-- image displayed below form -->
    <div class="row">   
        <div class="col-md-12 form-img">
            <img src="/static/images/update_profile.jpg" alt="Golf Dunes and hills" class="profile-img"> 
        </div>    
    </div>
</div>

            
{% endblock%} 
