{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content%}
{% load static %}
<div class="container-fluid">
    <!-- User Profile Page -->
    <!-- Profile Data displayed within a card. An empty profile instance is created in user_profile.signals.py -->
    <div class="col-12 mt-3 mx-auto">
        <div class="row">          
            <div class="col-md-10 mx-auto">
                <div class="card mb-sm-4">
                    <div class="card-body">                           
                        <h3 class="card-title text-center"><strong>My Profile</strong></h3>
                        <hr>
                        <!-- if user profile's first name is empty (has not updated the empty profile) -->
                        {% if user.profile.first_name == "" %}
                        <h2 class="text-center">You don't have a profile set up yet.</h2>
                        <p class="text-center">Not 16 yet? Please contact our golfshop about our junior rates!</p>
                        <!-- else display all the details entered below -->
                        {% else %}
                        <h5>My Personal Details</h5>
                        <br>
                        <p class="card-text"> First Name : <strong>{{ user.profile.first_name}}</strong></p>
                        <p class="card-text"> Last Name : <strong>{{ user.profile.last_name}}</strong></p>
                        <p class="card-text">Email : <strong>{{ user.profile.email}}</strong></p>
                        <p class="card-text">Contact No : <strong>{{ user.profile.phone_number}}</strong></p>
                        <p class="card-text">Gender : <strong>{{ user.profile.gender}}</strong></p>
                        <p class="card-text">Age : <strong>{{ user.profile.age}}</strong></p>
                        <p class="card-text">Country Code : <strong>{{ user.profile.country}}</strong></p>
                            
                        <hr />
                        
                        <!-- to display when the profile was created -->
                        <p class="card-text text-muted h6">
                            Created on: {{ user.profile.created_on}}
                        </p>
                        {% endif %}
                            
                    </div>
                </div>
                <!-- if the user has not created a profile yet, display button which is linked with create profile view function -->
                {% if user.profile.first_name == "" %}
                <div class="text-center">
                    <a class="text-decoration-none btn btn-hover mt-5 mb-5" href="{% url 'user_update_profile' %}">
                        Create Profile
                    </a>
                </div>
                <!-- else allow them to see the update button which has the same link as above -->
                {% else %}
                <div class="mt-4 mb-3 text-center">
                    <a class="text-decoration-none btn btn-hover mt-2 mb-2" href="{% url 'user_update_profile' %}">
                        Update Profile
                    </a>
                    <a class="text-decoration-none btn btn-hover mt-3 mb-3 ms-3" href="{% url 'add-booking' %}">New Booking</a>
                </div>
                {% endif %}
            </div>          
        </div>
    </div>       
</div>
    <div class="row">
            <!-- image of centered golf ball above footer -->
            <div class="col-lg-12 profile-img">
                <img src="{% static 'images/profile-img.jpg' %}" alt="Golf Dunes and hills" class="profile-img">
            </div>
        
    </div>
{% endblock%}
