{% extends "base.html" %}
{% block title %}View Bookings{% endblock title %}
{% block content%}

{% if user.profile.first_name == "" %}

<h2 class="text-center mt-5 mb-5">You need to set up your profile before proceeding with a new booking</h2>
<div class="text-center">
    <a class="text-decoration-none" href="{% url 'user_update_profile' %}">
        <button class="btn btn-hover mx-auto mt-5 mb-5">Create Profile</button>
    </a>
</div>
{% else %}
<div class="booking-img">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 review-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="review-title">My Tee Times</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <!-- <p class="review-details">Review by: {{ review.member }} | Created on: {{review.created_on}}</p> -->
            </div>
            <div class="d-none d-md-block col-md-6 review-image">
                <img src="/static/images/review-page-image.jpg" width="100%">
                
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="text-decoration-none" href="{% url 'add-booking' %}">
        <button class="btn btn-hover mx-auto">New Booking</button>
    </a>
</div>
<div class="container-fluid">
        <!-- User Bookings List -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for booking in bookings %}
                <div class="col-md-10 mx-auto">
                    <div class="card mb-sm-4">
                        <div class="card-body">
                            
                            <h3 class="card-title">Playing at <strong>{{ booking.play_time}}</strong> on <strong>{{ booking.play_date }}</strong></h3>
                            <hr>
                            <h5>Bookig Details</h5>
                            <br>
                            <p class="card-text"> Email : <strong>{{ booking.email }}</strong></p>
                            <p class="card-text"> Contact No : <strong>{{ booking.phone_number }}</strong></p>
                            <p class="card-text">Players: <strong>{{ booking.number_of_players }}</strong></p>
                            <p class="card-text">Game Length: <strong>{{ booking.number_of_holes }} holes</strong></p>
                            <p class="card-text">
                                {% if booking.club_hire == False%}
                                Club Hire: <strong>NO</strong>
                                {% else %}
                                Club Hire: <strong>YES</strong>
                                {% endif %}
                            </p>
                            <!-- link to view each review in full and comment below -->
                            
                              <p class="card-text">Additional Requests: 
                                  <br>
                                  <strong>{{ booking.extra_requests }}</strong></p> 
                            
                            <hr />
                           
                                <a href="{% url 'edit-booking' booking.id %}" class="text-decoration-none">
                                    <button class="btn-primary booking-btn mb-3 mt-3 me-4">Update</button>
                                </a>
                                
                                <a href="{% url 'delete-booking' booking.id %}" class="text-decoration-none">
                                    <button class="btn-danger mb-3 mt-3 ">Delete</button>
                                </a>
                            
                            <!-- to display number of likes on each review -->
                            <p class="card-text text-muted h6">
                                Created on: {{ booking.created_on}} |  By: {{ booking.last_name}}, {{ booking.first_name}}
                            </p>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endif %}
    <div class="row">
    
            <div class="col-lg-12 profile-img" style="background-image: url('/static/images/profile-img.jpg')"></div>
        
    </div>

</div>
{% endblock%}
