{% extends "base.html" %}
{% block title %}View Bookings{% endblock title %}
{% block content%}
{% load static %}

{% if user.profile.first_name == "" %}
<!-- testing empty profile by checking first_name field is blank
(All fields must be filled if profile is updated) -->
<h2 class="text-center mt-5 mb-5">You need to set up your profile before proceeding with a new booking</h2>
<div class="text-center">
    <a class="text-decoration-none" href="{% url 'user_update_profile' %}">
        <button class="btn btn-hover mx-auto mt-5 mb-5">Create Profile</button>
    </a>
</div>
{% else %}
<!-- else show booking image, title and details. -->
<div class="booking-img">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 review-text">
                
                <h1 class="review-title">My Tee Times</h1>
                
            </div>
            <div class="d-none d-md-block col-md-6 review-image">

                <img src="{% static 'images/review-page-image.jpg' %}" alt="Image of golfer during sunset" class="review-page-img">
                
            </div>
        </div>
    </div>
</div>
<!-- button to add new booking -->
<div class="text-center">
    <a class="text-decoration-none btn btn-hover mx-auto" href="{% url 'add-booking' %}">New Booking</a>
</div>
<div class="container-fluid">
    <!-- User Bookings List and display structure for each present booking -->
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for booking in bookings %}
                {% if booking.booking_status == 1 %}     
                <div class="col-md-10 mx-auto">
                    <div class="card mb-sm-4">
                        <div class="card-body">
                            
                            <h3 class="card-title">Playing at <strong>{{ booking.play_time}}</strong> on <strong>{{ booking.play_date }}</strong> - Confirmed</h3>
                            <hr>
                            <h5>Bookig Details</h5>
                            <br>
                            <p class="card-text"> Email : <strong>{{ booking.email }}</strong></p>
                            <p class="card-text"> Contact No : <strong>{{ booking.phone_number }}</strong></p>
                            <p class="card-text">Players: <strong>{{ booking.number_of_players }}</strong></p>
                            <p class="card-text">Game Length: <strong>{{ booking.number_of_holes }} holes</strong></p>
                            <p class="card-text">
                                {% if booking.club_hire == False%}
                                Club Hire: <strong>NO</strong>
                                {% else %}
                                Club Hire: <strong>YES</strong>
                                {% endif %}
                            </p>
                            
                            <p class="card-text">Additional Requests: 
                                <br>
                                <strong>{{ booking.extra_requests }}</strong>
                            </p> 
                            
                            <hr />
                            <!-- button updates booking data specific to bookinn id requested -->
                            <a href="{% url 'edit-booking' booking.id %}" class="text-decoration-none">
                                <button class="btn-primary booking-btn mb-3 mt-3 me-4">Update</button>
                            </a>
                            <!-- calls delete_booking.html to prevent one click deletion -->
                            <a href="{% url 'delete-booking' booking.id %}" class="text-decoration-none">
                                <button class="btn-danger mb-3 mt-3 ">Delete</button>
                            </a>
                            
                            <p class="card-text text-muted h6">
                                Created on: {{ booking.created_on}} |  By: {{ booking.last_name}}, {{ booking.first_name}}
                            </p>
                            
                        </div>
                    </div>
                </div>
                {% else %}
                    <!-- if booking requested is not approved, message below is displayed -->
                    <h3 class="text-center mb-5 mt-5">Your booking for {{ booking.play_date}} at {{ booking.play_time}} is awaiting for approval. Please check back later.</h3>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
</div>
    <!-- Home button page to improve user interaction -->
    <div class="text-center">
        <a class="text-decoration-none btn btn-hover mx-auto" href="{% url 'home' %}">Home Page</a>
    </div>
{% endif %}
    <div class="row">
            <!-- image of golf ball above footer and under all user bookings -->
            <div class="col-lg-12 profile-img">
                <img src="{% static 'images/profile-img.jpg' %}" alt="Golf Dunes and hills" class="profile-img">
            </div>          
    </div>
{% endblock%}
